<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${formTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/dogForm.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/admin/gestionDog/save}" method="post" th:object="${dog}">
        <div class="userForm"><h2>[[${formTitle}]]</h2></div>
        <input type="hidden" th:field="*{dogId}"/>
        <div class=" border-secondary rounded p-5">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Compagnon:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{dogName}" class="form-control" required minlength="3"
                           maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Naissance :</label>
                <div class="col-sm-8">
                    <input type="date" th:field="*{dateOfBirth}" class="form-control" required minlength="3"
                           maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Race :</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{breed}" class="form-control" required minlength="5"
                           maxlength="40"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Sexe :</label>
                <div class="col-sm-8">
                    <select style="border-radius: 5px" th:field="*{sexe}">
                        <option th:value="male" th:text="male"></option>
                        <option th:value="Femelle" th:text="Femelle"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Stérilization :</label>
                <div class="col-sm-8">
                    <select style="border-radius: 5px" th:field="*{sterilization}">
                        <option th:value="oui" th:text="oui"></option>
                        <option th:value="non" th:text="non"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Maitre :</label>
                <div class="col-sm-8">
                    <select th:field="*{user}" style="border-radius: 5px" >
                           <option  th:each="Uname : ${usersName}"
                                    th:value="${Uname.userId}"
                                    th:text="${Uname.userFirstName} + ' ' + ${Uname.userLastName}">
                            </option>
                    </select>
                </div>
            </div>
            <div id="container">
                <button class="btAdForm" type="submit">Sauvegarder</button>
                <button class="btAdForm" type="button" onclick="cancelForm()">Annuler</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/gestionDog}]]";
    }
</script>
</body>
</html>