<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[${formTitle}]]</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/reportForm.css}" rel="stylesheet"/>
</head>
<body>
<div class="forms">
    <form method="post" th:action="@{/admin/gestionReport/reportUpload}" enctype="multipart/form-data"
          th:object="${report}">
        <div class="reportForm"><h2>[[${formTitle}]]</h2></div>
  <!--      <div class="champ">
            <label for="friend">Sélectionner un maitre:</label>
            <select id="friend" th:field="*{user}" style="border-radius: 5px">
                <option th:each="Uname : ${usersName}"
                        th:value="${Uname.userId}"
                        th:text="${Uname.userFirstName} + ' ' + ${Uname.userLastName}">
                </option>
            </select>
        </div>-->
        <div class="champ">
            <label for="master">Sélectionner un compagnon:</label>
            <select id="master" th:field="*{dog}" style="border-radius: 5px">
                <option th:each="Dname : ${dogsName}"
                        th:value="${Dname.dogId}"
                        th:text="${Dname.dogName}">
                </option>
            </select>
        </div>
        <div class="champ">
            <label for="rdv">Date du rendez vous :</label>
            <input id="rdv" type="date" th:field="*{dateOfReport}" class="form-control"/>
        </div>

        <div class="champ">
            <label for="upload">Compte_rendu :</label>
            <input id="upload" type="file" name="report" class="form-control-file">
        </div>
        <div id="container">
            <button class="btAdForm" type="submit">Télécharger le fichier</button>
            <button class="btAdForm" type="button" onclick="cancelForm()">Annuler</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/gestionReport}]]";
    }
</script>
</body>
</html>