* {
    box-sizing: border-box;
}


.bannerAdmin {
    display: flex;
    flex-wrap: wrap;
    background-color: #c3e6cb;
    top: 0;
    height : 70px;
    width: 100%;
}

.bannerAdmin h1 {
    padding-left: 520px;
    color : #222E13;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

.bannerConnection{
    width: 100%;
    background-color: #222E13;
    background-repeat: repeat-x;
    height: 70px;
}

#bonjour{
    min-width:125px;
    position: fixed;
    color : #FFFFFF;
    font-size: 35px;
    font-style: italic;
    padding-top: 10px;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #c3e6cb;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

.menuAdmin{
    height: 800px;
}
.menuAdmin a {
    text-decoration: none;
    color:#222E13 ;
    font-weight: bold;
    height: 600px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 539px;
}

#submit {
    background-color: #222E13;
    border-radius: 20px;
    border: none;
    color: #c3e6cb;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/* --------------------- TABLEAU ADMIN --------------------- */


.listAdmin{
    border-collapse: collapse;
}
.adminAction{
    font-weight: bold;

}

.thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 30%;
}

thead th:nth-child(3) {
    width: 30%;
}

.listeAdmin{
    padding-top: 100px;
}



