

/* --------------------- FORMULAIRE NOUVEL ADMIN --------------------- */


.adminForm{
    text-align: center;
    vertical-align: center;
    color : #222E13;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;

}

form{
    max-width: 500px;
    margin: 0 auto;
    background-image: url("images/foret.jpeg");
}

label{
    color: white;
    font-weight: bold;
}
