.navbar-inner {
    background-color: #222E13;
    width: 100%;
}

.nav{
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav a{
    font-family: Roboto Flex, sans-serif;
    color : #c3e6cb;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    min-width: 90px;
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

.nav-authentication{
    display: flex;
    padding-top: 10px;
}

.nav-search{
    margin-left: auto;
    padding-bottom: 10px;
}

.search{
    padding: 0px 20px 0px 20px;
}

p{
    font-family: Roboto Flex, sans-serif;
    color : #c3e6cb;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 10px 20px;
}

input{
    border-radius: 5px;
    padding: 10px;
}

#submit {

    border-radius: 5px;
    border: none;

    padding-left: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

form{
    padding-left: 20px;
}

/* --------------------- TABLEAU --------------------- */

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 2px #222E13;
    margin: auto;
}


.dogTable{
    font-weight: bold;
    background-color: #c3e6cb;
    text-align: center;
    border: 2px #222E13;
}

svg{
    width:30px;
    height:30px;
    color: darkslategrey;
    padding-right: 10px
}

.liste{
    padding: 20px 0px 20px 0px;
}

.adminAction{
    font-weight: bold;
}

.thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 10%;
}
thead th:nth-child(4) {
    width: 15%;
}
thead th:nth-child(5) {
    width: 10%;
}
thead th:nth-child(6) {
    width: 10%;
}

thead th:nth-child(7) {
    width: 10%;
}

thead th:nth-child(8) {
    width: 10%;
}

thead th:nth-child(9) {
    width: 10%;
}

td,th{
    text-align: center;
    padding: 10px;
}



