
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Montserrat, Helvetica, sans-serif;
    /*display: flex;*/
    flex-direction: column;
}




/*-----------------Header-----------------*/


.header {
    /*position: fixed;*/
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #c3e6cb;

}

.nav-icon-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon-header span {
    font-family: Roboto Flex, sans-serif;
    font-size: 50px;
    margin-left: 10px;
    font-weight: 400;
    color: #222E13;
    display: inline-block;

}

.nav-icon-header img {
    width: 100px;
    border-radius: 30px;
}

.nav-authentication {
    margin-left: auto;
}

.sign-btns a {
    font-family: Roboto Flex, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #222E13;
    color : #c3e6cb;
    text-decoration: none;
}

/*-----------------Responsive-----------------*/
@media (max-width: 970px) {
    .header{
        padding: 15px 20px;
        /*position: relative;*/
    }

    .nav-icon-header{
        order:1;
        margin: 0 auto;
    }

    .nav-icon-header span{
        font-size: 22px;
    }
    .nav-authentication{
        order:2;

    }

    .footer{
        padding: 15px 20px;
        /*position: relative;*/
    }

    .nav-icon-footer{
        order:1;
        margin: 0 auto;
    }

    .nav-icon-footer a,span{
        font-size: 12px;
    }

    .nav-contact a{
        font-size: 12px;
    }
    .nav-contact{
        order:2;

    }

}

@media (max-width: 500px) {
    .header{
        padding: 12px 15px;
        /*position: relative;*/
    }


    .nav-icon-header span{
        font-size: 20px;
    }


    .footer{
        padding: 12px 15px;
        /*position: relative;*/
    }


    .nav-icon-footer a,span{
        font-size: 10px;
    }

    .nav-contact a{
        font-size: 10px;
    }


}




/*-----------------Footer-----------------*/

.footer {

    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    bottom: -3px;
    background: #c3e6cb;

}

.nav-icon-footer {
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;


}

.nav-contact {
    margin-left: auto;
    text-decoration: none;

}

.nav-contact a, span{
    padding-right: 25px;
    padding-left: 25px;

}

.copyright{
    font-weight: bold;
}




