form{
    max-width: 500px;
    margin: 0 auto;
    background-color: #222E13;
}

.loginForm{
    text-align: center;
    vertical-align: center;
    color : #222E13;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

td{
    color: #c3e6cb;
    font-weight: bold;
}


h4{
    color: darkred;
    text-align: center;
    font-style: italic;
}

.btAdForm{
    background-color: #c3e6cb;
    border-radius: 30px;
    border: none;
    color: #222E13;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}







