

/*--------------------- HOME PAGE ---------------------*/
    /*BANDEAU DU HAUT */


#logo_img {
    width : 100px;
    height : auto;
    border-radius: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.bannerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #c3e6cb;
    top: 0;
    height : 70px;
    width: 100%;
}

.bannerTop h1 {
    color : #222E13;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    display: block;
    text-align: left;
}


.bannerTop a{
    font-size: 35px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #222E13;
    font-style: italic;
    text-decoration: none;
}

/*BANDEAU CONNEXION */

.bannerConnection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #222E13;
    top: 0;
    width: 100%;
    height: 70px;
}

.bannerConnection h2 {
    color : #FFFFFF;
    font-size: 35px;
    padding-top: 10px;
    font-style: italic;
    margin-left: 110px;
}

.bannerConnection a{
    font-size: 20px;
    margin-right: 20px;
    vertical-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-style: italic;
    text-decoration: none;
}


/*BANDEAU DU MILIEU */


.bannerMiddle {
    display: flex;
}

.block1{
    padding:30px;
    text-align:left ;
    width: 50%;
}

.block2{
    width: 50%;
}

#middle_img{
    height:500px;
    float: right;
}

/*BANDEAU DU BAS */

.bannerFooter{
    background-color: #222E13;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    height : 70px;
}

.contact{
    font-size: 20px;
    color: #FFFFFF;
    font-style: italic;
}

.infos a{
    margin-right: 10px;
}

.infos{
   display: flex;
    margin-left: 10px;
}

nav .lien {
    display: flex;
    margin-top: 17px;
}
nav .lien a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}


/* --------------------- A PROPOS --------------------- */

/*BANDEAU CONNEXION */

#connectPropos{
    color : #FFFFFF;
    font-size: 35px;
    font-style: italic;
    margin-left: 110px;
    padding-top: 12px;
    padding-right :5px;
}


/*BANDEAU DU MILIEU */
#propos_img{
    height: 200px;
    width: auto;
}

.bannerMiddlePropos {
    display: flex;
    padding:5px;
}

.block1Propos{
    width: 50%;
    padding: 50px;
}

.block2Propos{
    display:flex;
    }

.row{
    width: 476px;
    height: auto;
    padding-right: 10px;
}
.carrePresta{
    width: 476px;
    height: auto;
    background-image: url("images/batman.jpeg");
    background-repeat: no-repeat;
}

.carrePresta a{
    text-decoration: none;
}


.prestaLien{
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    padding-top: 55px;
    text-align: center;

}


/* --------------------- PRESTATIONS --------------------- */


.bannerMiddleCons{
    display: flex;
}

.block1Cons{
    width: 30%;
}
.timingCons{
color: black;
}

.titreCons{
    font-weight: bold;
}

#conseilsImage{
    padding: 10px;
    display: block;
    margin: 0px auto;
}

.block2Cons{
padding-top:50px;
justify-content: center;
}

#titPrins{
    vertical-align: center;
    background-color: #c3e6cb;
    background-size: 50%;
    color: #FFFFFF;
    font-weight: bold;
    height: 60px;
    width: 340px;
    text-align: center;

}