<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Un amour de chien</title>
    <link rel="stylesheet" th:href="@{/layoutClientPage.css}"/>
    <link rel="stylesheet" th:href="@{/clientPage.css}"/>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<nav th:replace="layoutClientPage :: menu">Static Header</nav>



<div layout :fragment="content">
    <div class="bonjour">
    <p id="bonjour">Bonjour [[${#request.userPrincipal.principal.fullName}]] !</p>
</div>
    <div class="content">
    </div>
</div>


<nav th:replace="layoutClientPage :: html_foot">Static Footer</nav>

</body>
</html>