<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Un amour de chien 93</title>
    <link rel="stylesheet" th:href="@{/layoutHomePage.css}"/>
    <link rel="stylesheet" th:href="@{/homePage.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap"
          rel="stylesheet"/>
</head>

<body>

<nav th:replace="layoutHomePage :: menu">Static Header</nav>

<div layout :fragment="content">
    <div id="content">
        <div class="leftBox">
            <p class="prez">Je m’appelle Myriam,</br>
                </br>
                je vous propose de contribuer à développer une entente harmonieuse faite de complicité et d’une bonne
                qualité relationnelle avec votre fidèle compagnon.
                J’ai acquis des bases solides en matière de coaching canin auprès de formateurs qualifiés, reconnus
                ayant pour vocation de répondre au bien-être de votre ami canin, tout en lui inculquant des bases
                éducatives qui ont fait leurs preuves.
                Afin de vous permettre de passer de nombreuses années auprès de votre compagnon en parfaite harmonie, je
                vous propose un service personnalisé (adéquation avec votre mode de vie tout en
                respectant votre ami canin) afin de vous aider à créer un lien privilégié et de qualité.
                </br>
                </br>
                Titulaire du CCAD délivré par l’école vétérinaire de Maison Alfort.</br>
                Formation en médiation animale et en éducation canine.</br>
                Basée à Noisy le Grand (Seine saint Denis).</br>
                Je suis mobile sur les départements du (77, 93 et 94).
                </br>
                </br>
                N’hésitez pas à me contacter pour toutes questions.</p>
            <br/>
            <img th:src="@{../images/signature.png}" id="sign_img" alt ="signature"/>
        </div>
        <div class="rightBox">
            <div class="lienPresta">
                <a th:href="@{/page/conseils}" class="prestaBox conseil" >
                    <div class="prestaDetails">
                        <p class="prestaName">Conseil à l'arrivée de votre compagnon </p>
                    </div>
                </a>
                <a th:href="@{/page/cours}" class="prestaBox cours">
                    <div class="prestaDetails">
                        <p class="prestaName">Cours d’éducation personnalisé</p>
                    </div>
                </a>
                <a th:href="@{/page/balades}" class="prestaBox balade">
                    <div class="prestaDetails">
                        <p class="prestaName">Balade éducative avec votre compagnon</p>
                    </div>
                </a>
                <a th:href="@{/page/coaching}" class="prestaBox coaching">
                    <div class="prestaDetails">
                        <p class="prestaName"> Coaching à domicile de votre compagnon</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<nav th:replace="layoutHomePage :: html_foot">Static Footer</nav>

</body>
</html>