<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Un amour de chien 93</title>
    <link rel="stylesheet" th:href="@{/layoutHomePage.css}"/>
    <link rel="stylesheet" th:href="@{/prestation.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap"
          rel="stylesheet"/>
</head>

<body>

<nav th:replace="layoutHomePage :: menu">Static Header</nav>



<div layout :fragment="content">
    <div id="content">

        <div class="balade">
        </div>

        <div class="rightBox">
            <h2> Balades éducatives</h2>
            <br/>
            <br/>
            <p> La prestation comprend :</p>
            <ul>
                <li>un entretien téléphonique au préalable (identification d'une problématique ou demande particulière).</li>
                <li>Je vous donnerais la liste des questions à poser à l’éleveur.</li>
                <li>Bilan téléphonique dans un temps donné selon la problématique ou l’âge du chien.</li>
                <li>Après la rencontre à votre domicile, une synthèse vous sera envoyé par mail dans les 3 jours.</li>
                <li> A tout moment je reste en contact avec vous par téléphone en cas de besoin.</li>
            </ul>
            <p> Je vous accompagnerais :</p>
            <ul>
                <li>lors d'une balade dans un Parc ou en forêt.</li>
                <li> dans l'apprentissage ou perfectionnement de la marche en laisse,du rappel, de la rencontre avec d’autres chiens, etc...</li>
                <li>dans la compréhension duc omportement chien/maitre et chien entre eux. (Abords pratique et théorique).</li>
            </ul><br/>

                <p style="text-align: center">Présence possible pour les maîtres afin de perfectionner leur éducation et comprendre la relation.</p>
                <p style="text-align: center">Le chien est récupéré et ramené au domicile de ses maîtres en leur absence.</p>
            <br/>
        </div>
    </div>
</div>


<nav th:replace="layoutHomePage :: html_foot">Static Footer</nav>
</body>
</html>

